.profile {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
  }

@media screen and (max-width: 840px) {
  .profile {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .profile {
    margin-bottom: 36px;
  }
}