.popup__form-input-error {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #ff0000;
    width: 100%;
    max-width: 238px;
    min-height: 30px;
    transition:  0.2s ease;
    opacity: 0;
  }
  
  .popup__form-input-error:last-of-type {
    margin-bottom: 18px;
  }
  